body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    height: 85vh;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.add_text{
    box-sizing: border-box;
    border-radius: 2px;
}

.add_text h5 {
    margin-top: 0;
    color: #333;

}

.main label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.main input[type="text"],
.main textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.main textarea{
    width: 100%;
    height: 50vh;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button {
    text-align: center;
}

.button button {
    width: 80%;
    padding: 10px 20px;
    background-color: #fa9494;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button button:hover {
    background-color: #45a049;
}