/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    height: 100%;
    background-color: #f8d5c6f1;
    color: #000000;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.btn1{
    width: 60%;
    padding: 10px;
    background-color: #eb9595f8;
    color: #e5ee6f;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}
.btn2{
    width: 100%;
    padding: 10px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    background-color: #f8d5c6f1;
    border: none ;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
}
.btn2 button{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

.btn1 button{
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}


.sidebar-footer {
    margin-top: 20px;
}

.sidebar-footer button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.sidebar-footer button:hover {
    background-color: #45a049;
}

/* Content styles */
.content {
    margin-left: 250px; /* Same as sidebar width */
    padding: 20px;
}
/* CSS for styling the note cards */
.note {
    display: inline-block;
    width: 300px; /* Set the width of each card */
    margin: 10px; /* Add some margin between cards */
    padding: 20px; /* Add padding inside the card */
    border: 1px solid #d38b8b; /* Add a border around the card */
    border-radius: 10px; /* Add border radius for rounded corners */
    background-color: #eee6e6; /* Set background color of the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

/* CSS for styling the title of the note */
.note h3 {
    margin-top: 0; /* Remove top margin for the title */
    color: #333; /* Set text color of the title */
}

/* CSS for styling the description of the note */
.note p {
    margin-bottom: 10px; /* Add some bottom margin for the description */
    color: #666; /* Set text color of the description */
}
.note button{
    border-radius: 2px;
    outline: none;
    border: none;
}

/* CSS for styling the date of the note */
.note .date {
    color: #999; /* Set text color of the date */
    font-size: 12px; /* Set font size of the date */
}
